*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
background-color: #fefefe;

}
header{
    width: 100%;
    height: 7vh;
    background-color: #781b67;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo-app{
color: #fefefe;
font-size: 1.3rem;
}
.hamburguer-item{
    display: none;
}
.nav-bar ul{
    display: flex;

}
.nav-bar ul li a{
    display: block;
    color:#fefefe ;
    font: 1.3rem;
    padding: 7px 12px;
    border-radius: 20px;
}