.images-home {
    width: 90%;
    height: 400px;
    /* background-color: aqua; */
    margin: 20px auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item-1 {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    background-image: url('../images/uno.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale();
}

.item-1:hover {
    filter: grayscale(0);
}

img {
    width: 100%;
    margin: 10px 0 0 0;
}

.discount-button {
    padding: 3px 7px;
    cursor: pointer;
    border: none;
    outline: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 2px;
}

.discount-button:hover {

    background-color: white;
    color: rgb(42, 42, 42);

}

.woman-button {
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    outline: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.man-button {
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    outline: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.main-discounts {
    display: flex;
    width: 81%;
    height: 50px;
    align-items: center;
    margin: 20px auto 0 auto;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
}

.item-2 {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 51, 216);

    background-image: url('../images/dos.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale();
}
.item-3 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 51, 216);

    background-image: url('../images/new.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale();
    background-repeat: no-repeat;
}

.item-2:hover {
    filter: grayscale(0);
}
.secundary-banner{
      width: 80%;
      height: 400px;
      background-color: aqua;
      margin: 20px auto 40px auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.secundary-banner H1{
      color: white;
      font-size: 2rem;  
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
}
.footer-container h5{
    font-weight: 100;
}
@media(min-width:768px) {
    .images-home {
        width: 80%;
        height: 400px;
        /* background-color: aqua; */
        margin: 40px auto 0 auto;
    }
    .secundary-banner H1 {
        color: white;
        font-size: 3.5rem;
    }


    .main-discounts {
        width: 80%;
        font-size: 1.4rem;
    }

    .images-home {
        flex-direction: row;
        gap: 15px;
    }
}

@media(min-width:1500px) {

    .images-home {
        width: 70%;
        height: 450px;
    }

    .main-discounts {
        width: 70%;
        height: 70px;
    }

    .main-discounts h4 {
        font-size: 1.5rem;
    }

    .secundary-banner {
        width: 70%;
        margin: 40px auto 40px auto;
      
    }
    .secundary-banner H1 {
        color: white;
        font-size: 5rem;
    }
    .footer-container h5 {
        font-weight: 100;
        font-size: 1.2rem;
    }

}